body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslateblue;
    color: rgb(71, 70, 67);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: rgb(138, 76, 219);
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.container {
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}
input, select, button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input {
    width: 200px;
}

button {
    background-color: rgb(201, 184, 184);
    color: rgb(5, 5, 5);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: lightblue;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    color: dimgrey;
}